@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    @apply shadow-none;
  }
}

* {
  @apply scrollbar-thin scrollbar-thumb-base-300 hover:scrollbar-thumb-primary scrollbar-track-transparent;
}

html,
body,
#app,
main {
  @apply h-full;
}

html {
  font-family: "Figtree Variable", sans-serif;
  /* scrollbar-gutter: auto !important; */
}
